.clock {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    position: relative;
    border: 4px solid #0c0114;
    box-shadow: 0 -15px  15px rgba(255, 255, 255, 0.04),
                inset 0 -15px 15px rgba(255, 255, 255, 0.04),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
    
}

.clock::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color:var(--purple);
    border-radius: 50%;
    z-index: 10000
}

.clock .hour, .clock .min, .clock .sec {
    position: absolute;
}

.clock .hour, .hr{
    width: 190px;
    height: 190px;
}

.clock .min, .mn{
    width: 230px;
    height: 230px;
}

.clock .sec, .sc{
    width: 260px;
    height: 260px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 90px;
    background: var(--green-alt);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 120px;
    background: var(--white);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.sc::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 160px;
    background: var(--purple);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.clock .group-number {
    width: 100%;
    height: 100%;
}

.clock .barer,.clock .number {
    /* --rotation: 0; */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    transform: rotate(var(--rotation))
}

.clock .barer {
    font-weight: 700;
    font-size: 2.3rem;
}

.clock .pointer {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--purple);
}

.clock .bar {
    width: 10px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--green);
}

.clock .n1 { --rotation: 30deg}
.clock .n2 { --rotation: 60deg}
.clock .n3 { --rotation: 90deg}
.clock .n4 { --rotation: 120deg}
.clock .n5 { --rotation: 150deg}
.clock .n6 { --rotation: 180deg}
.clock .n7 { --rotation: 210deg}
.clock .n8 { --rotation: 240deg}
.clock .n9 { --rotation: 270deg}
.clock .n10 { --rotation: 300deg}
.clock .n11 { --rotation: 330deg}
